{% extends "core/base.html" %}
{% block content %}
<div class="row">
	<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<h2>Plantilla</h2>
				</div>
			</div>
			<div class="box-body">
				<div class="col-ms-12">
					<form action="" method="POST">
					{% for theme in listado_themes %}
					<div class="col-xs-4">
						<a href="#" class="thumbnail">
					      <img src="{{STATIC_URL}}{{theme.imagen_url}}" alt="...">
					    </a>
					    <div class="caption">
					    	<h3>{{theme.titulo}}</h3>
					    </div>
					    <div class="form-group">
					    	<label for="">Elije theme</label>
					    	<input type="radio" class="form-control" name="theme" value="{{theme.titulo}}">
					    </div>
					</div>
					{% endfor %}
					</form>
				</div>
				<div class="col-xs-12">
					<h2>Mis Plantillas</h2>
				</div>
				<div class="add-theme col-xs-12">
					<a href="{% url 'theme:agregar_theme' %}" class="btn btn-info">Agregar Theme</a>
				</div>
			</div>
	</div>
</div>
{% endblock content %}
