{% extends "core/base.html" %}
{% block content %}
<div class="row">
	<div class="col-xs-12">
			<div class="container">
				<div class="box-header">
					<h2>Listado Variables</h2>
				</div>
				<div class="">
					<h3>Pagina HOME:</h3>
					<div class="row">
						<div class="col-xs-6">
							<h4>Variable</h4>
						</div>
						<div class="col-xs-6">
							<h4>Contiene las siguientes variables</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<h4>categorias ->  es un Array de Objeto</h4>
						</div>
						<div class="col-xs-6">
							<h4>
								(categoria_titulo, categoria_descripcion, categoria_estado, categoria_fecha_ingreso)
							</h4>
						</div>
					</div>
				</div>
			</div>
			
	</div>
</div>
{% endblock content %}